<div [formGroup]="form">
	<div class="container-label">
		<label [attr.for]="question.key">{{question.label}}</label>
	</div>

	<div class="container-input" [ngSwitch]="question.controlType">
		<input *ngSwitchCase="'textbox'"
			[formControlName]="question.key"
			[id]="question.key"
			[type]="question.type"
			[placeholder]="question.placeholder"
			[readonly]="question.readonly">

		<div *ngSwitchCase="'numberbox'" class='custom-input-number' >
			<input
				[formControlName]="question.key"
				[id]="question.key"
				[type]="question.type"
				[step]="question.step"
				[placeholder]="question.placeholder">
		</div>

		<textarea *ngSwitchCase="'textarea'"
			[formControlName]="question.key"
			[id]="question.key"
			[placeholder]="question.placeholder">
		</textarea>

		<div *ngSwitchCase="'dropdown'" class="custom-select">
			<select
				[formControlName]="question.key"
				[id]="question.key" [(ngModel)]="question.value">
				<!-- <option value="">{{question.placeholder}}</option> -->
				<option
					*ngFor="let opt of question.options"
					[value]= opt[question.optionsKey]
				>
				 {{opt[question.optionsValue]}}
				</option>
			</select>
		</div>

		<div *ngSwitchCase="'datepicker'">
			<my-date-picker
				[placeholder]="question.placeholder"
				[defaultDate]="question.date"
				[options]="question.options"
				[locale]="'es'"
				(dateChanged)="onDateChanged($event)"
				required>
			</my-date-picker>
		</div>

		<div *ngSwitchCase="'datetimepicker'">
			<my-date-picker
				[placeholder]="question.placeholder"
				[defaultDate]="question.date"
				[options]="question.options"
				[locale]="'es'"
				(dateChanged)="onDateTimeChanged($event)"
				required>
			</my-date-picker>
		</div>

		<div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
	<!--	<div *ngIf="control.hasError('required')" class="errorMessage">{{question.label}} is required </div>
		<div *ngIf="control.hasError('minlength')" class="errorMessage">{{question.label}} must have at least {{question.minlength}} characters </div>
		<div *ngIf="question.pattern && control.hasError('pattern')" class="errorMessage">{{question.label}} is invalid </div>-->
	</div>
</div>
