<h3>{{title}}</h3>
<style>
table#mitabla {
    border-collapse: collapse;
    /*border: 1px solid #CCC;*/
    font-size: 12px;
}
 
table#mitabla th {
    font-weight: bold;
    background-color: #E1E1E1;
    padding:5px;
}
 
table#mitabla tbody tr:hover td {
    background-color: #F3F3F3;
}
 
table#mitabla td {
    padding: 5px 10px;
}

table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #333; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
 /* border: 1px solid #ccc; */
  text-align: left; 
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
}
</style>

<table id="mitabla">
	<tr>
		<td style="height:20px;">
			<b>{{rangeDate}}:</b>
			<br>
			<my-date-picker [options]="myDatePickerNormalOptions" #startDatePicker="mydatepicker" [selector]="selector"
							(dateChanged)="onDateChanged($event)" (inputFieldChanged)="onInputFieldChanged($event)"
							(calendarViewChanged)="onCalendarViewChanged($event)" (calendarToggle)="onCalendarToggle($event)" (inputFocusBlur)="onInputFocusBlur($event)"
							[selDate]="selectedDateNormal" [placeholder]="startDate" [disabled]="disabled">
			</my-date-picker>
		</td>
		<td>
				<br>
				<my-date-picker [options]="myDatePickerNormalOptions" #endDatePicker="mydatepicker" [selector]="selector"
							(dateChanged)="onEndDateChanged($event)" (inputFieldChanged)="onInputFieldChanged($event)"
							(calendarViewChanged)="onCalendarViewChanged($event)" (calendarToggle)="onCalendarToggle($event)" (inputFocusBlur)="onInputFocusBlur($event)"
							[selDate]="selectedDateNormal" [placeholder]="endDate" [disabled]="disabled">
				</my-date-picker>
		</td>
		<td>
			<filter-ns *ngIf="questionFilters!=undefined"
	[questionFilters]="questionFilters"
	(list)="list($event)">
</filter-ns>
		</td>
	</tr>
	<tr>
		<td></td><td></td>
		<td>
			<div align="right" >
				<a  href="javascript:location.reload();" title="Limpiar Busqueda">Limpiar Busqueda</a>
			</div>
		</td>
	</tr>
</table>

<tool-ns
	[tools]="tools">
</tool-ns>

<table-ns-menu 
	#tableCmp
	[title]="tableTitle" 
	[items]="items" 
	[cols]="cols"
	[actions2]="actions2" 
	[actions]="actions"
	(read)="read($event)"
	(list)="list($event)">
</table-ns-menu>

<pagination *ngIf="pager!=undefined && pager.pages > 0"
    [totalItems]="pager.totalEntities"
    [initPage]="pager.pageIndex+1"
    [pageSize]="pager.pageSize"
    (paginated)=list($event)>
</pagination>

<confirm-ns
	[title]="confirmation.title" 
	[message]="confirmation.message"
	[(hiddenClose)]="confirmation.hiddenClose"
	(yesClicked)="confirmation.yesClicked($event)">	
</confirm-ns>