<div class="dd dd-multi">
    <div class="dd-select select" (click)="toogleSelect()">
        <span>select</span>
    </div>

    <div class="dd-options" [hidden]="!active">
        <div class="header option row">
            <div class="container-checkbox">
                <label class="checkbox checkbox-header">
                    <input type="checkbox">
                    <span></span>
                </label>
            </div>
            <div class="container-data">Select all</div>
        </div>

        <div class="body">
            <ul>
                <li *ngFor="let option of options" class="option row">
                    <div class="container-checkbox">
                        <label class="checkbox">
                            <input type="checkbox">
                            <span></span>
                        </label>
                    </div>
                    <div class="container-data">{{option.name}}</div>
                </li>
            </ul>
        </div>
    </div>
</div>
