.filter{
	width: 100%;
	align-items: flex-end;
	justify-content: flex-end;
}
	.filter .wrap-fields{
		margin: 0;
		margin-right: 10px;
		flex-wrap: wrap;
		justify-content: flex-end;
	}
		.filter .wrap-fields .field{
			margin: 0;
			margin-left: 20px;
		}

	.filter .container-input{
		width: 160px;
	}

	.filter .title{
		line-height: 32px;
		height: 32px;
		margin: 5px 30px 5px 0;
	}

	.filter label{
		font-size: 12px;
		font-weight: 600;
		line-height: 24px;
		color: #3f3f3f;
	}