<div [hidden]="hiddenClose">
	<div class="dialog-overlay" (click)="hideDialog()"></div>
	<div class="dialog">
		<div class="tools row">
			<bt-icon 
	            [title]="'close'"
	            [type]="'button'"
	            [icon]="'close'"
	            (clicked)="hideDialog()">
	        </bt-icon>
		</div>
		<div class="title">{{title || "Confirmation"}}</div>
		<div class="message">{{message}}</div>
		<div class="options row">
			<bt-text 
				[title]="'no'"
				[type]="'button'"
				[text]="'no'"
				(clicked)="hideDialog()">	
			</bt-text>
			<bt-text 
				[title]="'yes'"
				[type]="'button'"
				[text]="'yes'"
				(clicked)="onYesClicked()">	
			</bt-text>
		</div>
	</div>
</div>