logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
test
testThumbnails
BD.png
server/rutas del API.txt
rutas_del_API.txt
api_coffee_dev.postman_collection.json
api_coffee_localhost.postman_collection.json


    