rutas_del_API.txt
logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
test
conf/application.conf
testThumbnails
testThumbnails
BD.png
/dev-web/CoffeWeb/node_modules
/dev-server/CoffeeApp/.idea
/dev-server/CoffeeApplogs
/dev-server/CoffeeAppproject/project
/dev-server/CoffeeAppproject/target
/dev-server/CoffeeApptarget
/dev-server/CoffeeApptmp
/dev-server/CoffeeApp.history
/dev-server/CoffeeAppdist
/.idea
/dev-server/CoffeeApp/*.iml
/dev-server/CoffeeApp/out
/dev-server/CoffeeApp/.idea_modules
/dev-server/CoffeeApp/.classpath
/dev-server/CoffeeApp/.project
/dev-server/CoffeeApp/RUNNING_PID
/dev-server/CoffeeApp/.settings
/dev-server/CoffeeApp/test
/dev-server/CoffeeApp/testThumbnails
/dev-server/CoffeeApp/BD.png
api_coffee_dev.postman_collection.json
api_coffee_dev2.postman_collection.json
api_coffee_localhost.postman_collection.json
  