.answer{
	padding: 5px 0 0 20px;
}
.fieldset{
	margin-bottom: 10px;
}
.wrap-fields{
	margin: 0;
}

.legend,
.label, 
.output{
	font-size: 12px;
	line-height: 18px;
}
.label{
	color: #67bbd7;
}

.legend,
.output{
	color: #6d6d6d;
}
