/*.table {
    width: 100%;
    background-color: #6b6868;
}

.table-header {
    font-weight: bold;
}

.table-header .sort.sort-up:after {
    content: "\25B2";
}

.table-header .sort.sort-down:after {
    content: "\25BC";
}

.check-box {}


/* .mat-checkbox-checked.mat-accent .mat-checkbox-background .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: black;
}

.mat-column-select {
    overflow: initial;
}



.mat-form-field {
    display: inline;
    position: relative;
    text-align: left;
}


.example-right-align {
    text-align: right;
}

.form-field {
    display: inline;
    position: relative;
    text-align: left;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.btn-text {
    width: 92px;
    border: 1px solid #8c8c8c;
    text-transform: uppercase;
    color: black;
    background: #b3b3b3;
} */

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded):hover {
    background: #ece9e9;
}

.example-full-width {
    width: 100%;
}