#side-nav{
	width: 250px;
	height: 100%;
	border-right: 1px solid #e0e0e0;
}
	#side-nav header{
		height: 64px;
		border-bottom: 1px solid #e0e0e0;
		position: relative;  
	}
		#side-nav header #logo{
		/*	height: 46px;*/
			position: absolute;  
		    top: 0;  
		    bottom: 0;  
		    left: 0;  
		    right: 0;  
		    margin: auto;
		    cursor: pointer;
		}
	#side-nav nav{
		padding: 12px 0 10px;
	}





ul li{
	width: 250px;
	cursor: pointer;
	-webkit-transition: all .2s linear;
			transition: all .2s linear;
}
	ul li a{
		display: block;
	   	width: 200px;
	   	height: 50px;
	   	padding: 0 22px;
	   	line-height: 50px;
	   	font-size: 14px;
	   	font-weight: 600;
	   	text-transform: capitalize;
	  	-webkit-transition: all .2s linear;
			transition: all .2s linear;
	}
	ul li.selected a{
		color: #0099cc;
	}
	ul li b{
		display: block;
	   	width: 50px;
	   	height: 50px;
	}
ul li:hover{
	background-color: #f2f2f2;
}
	ul li a:hover{
		color: #0099cc;		
	}
ul li.with-sub-menu ul{
	display: none;
}
ul li.with-sub-menu.expanded ul{
	display: block;
}
	ul li.with-sub-menu ul li:hover{
		background-color: #d3d3d3;
	}
		ul li.with-sub-menu ul li a{
			   	padding: 0 22px 0 42px;
			   	font-weight: normal;
			}




.icon{
	background-repeat: no-repeat;
	background-size: 18px;
	background-position: center;
}
.icon.angle-down{
	background-image: url("/assets/images/icons/down.png");
	background-size: 10px;
}
.icon.angle-up{
	background-image: url("/assets/images/icons/up.png");
	background-size: 10px;
}




/* 
	grid
*/
.row{
	display: flex;
	flex-direction: row;
}

