button{
	padding: 0;
	border: 0;
	background-color: transparent;
	font-size: 1em;
	cursor: pointer;
	border-radius: 3px;
	box-sizing: content-box;
	display: block;
	-webkit-transition: all .2s linear;
			transition: all .2s linear;
}
	button .icon{
		width: 38px;
		height: 38px;
	}
	button .icon.small{
		width: 22px;
		height: 22px;
	}
	button .text{
		height: 38px;
		line-height: 38px;
		text-align: center;
		text-transform: uppercase;
		font-size: 10px;
	}
button.btn-icon{
	border: 1px solid transparent;
}
button.btn-text{
	width: 98px;
	border: 1px solid #8c8c8c;
}
button.btn-icon-text{
	border: 1px solid transparent;
}
	button.btn-icon-text .text{
		padding-right: 10px;
	}
	button.btn-icon-text .icon{
		width: 24px;
		background-size: 14px;
	}
	


.icon{
	background-repeat: no-repeat;
	background-position: center; 
	background-size: 20px;
}
.icon.small{
	background-size: 16px;
}
.icon.list{
	background-image: url("/assets/images/icons/list2.png");
}
.icon.see{
	background-image: url("/assets/images/icons/see.png");
}
.icon.create{
	background-image: url("/assets/images/icons/add.png");
}
.icon.update{
	background-image: url("/assets/images/icons/update.png");
}
.icon.delete{
	background-image: url("/assets/images/icons/delete.png");
}
.icon.close{
	background-image: url("/assets/images/icons/close.png");
}
.icon.menu-context{
	background-image: url("/assets/images/icons/menu-context.png");
}
.icon.search{
	background-image: url("/assets/images/icons/search.png");
}
.icon.service{
	background-image: url("/assets/images/icons/service.png");
	background-size: 22px;
}
.icon.down{
	background-image: url("/assets/images/icons/expand.png");
	background-size: 12px;
}
.icon.up{
	background-image: url("/assets/images/icons/collapse.png");
	background-size: 12px;
}
.icon.upload {
	background-image: url("/assets/images/icons/upload.png");
}
.icon.down-white{
	background-image: url("/assets/images/icons/white/expand.png");
	background-size: 12px;
}
.icon.up-white{
	background-image: url("/assets/images/icons/white/collapse.png");
	background-size: 12px;
}
.icon.gallery {
	background-image: url("/assets/images/icons/gallery.png");
}
.icon.fullscreen {
	background-image: url("/assets/images/icons/gray/fullscreen.png");
}
.icon.delete2 {
	background-image: url("/assets/images/icons/gray/delete.png");
}
.icon.close-white{
	background-image: url("/assets/images/icons/white/close.png");
}
.icon.check{
	background-image: url("/assets/images/icons/check.png");
}
.icon.play {
	background-image: url("/assets/images/icons/white/play.png");
	background-size: 24px;
}
.icon.canvas {
	background-image: url("/assets/images/icons/canvas.png");
	background-size: 24px;
}
