<div class="container">
  <h1>Cambio de clave</h1>
  <form #f="ngForm" novalidate (ngSubmit)="changePassword(f.value, f.valid)">
     <div class="form-group">
      <label for=""> ingrese su nueva clave</label>
      <input type="password" class="form-control" name="password" [ngModel]="passwordvalidator.password" 
        required validateEqual="confirmPassword" reverse="true" #password="ngModel">
      <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
        campo requerido
      </small>
      <!--<pre *ngIf="password.errors" class="margin-20">{{ password.errors | json }}</pre>-->
    </div>
    <div class="form-group">
      <label for=""> ingrese nuevamente su clave</label>
      <input type="password" class="form-control" name="confirmPassword" [ngModel]="passwordvalidator.confirmPassword" 
        required validateEqual="password" reverse="false" #confirmPassword="ngModel">
      <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
        Claves no coinciden
      </small>
      <!--<pre *ngIf="confirmPassword.errors" class="margin-20">{{ confirmPassword.errors | json }}</pre>-->
    </div>
    <button type="submit" class="btn btn-default">Cambiar</button>
     </form>
</div>

