table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded):hover {
    background: #ece9e9;
}

.example-full-width {
    width: 100%;
}

.filter {
    margin: auto;
}

.both-side {
    margin: 3px;
    padding: 2px;
}

.mat-elevation-z8 {
    box-shadow: 0 0 0 0;
}

.table-header .sort.sort-up:after {
    content: "\25B2";
}

.table-header .sort.sort-down:after {
    content: "\25BC";
}

.headerSearch{
    background-color: #f8f5f5;
    margin: 10px;
    position: sticky; 
    border-radius:  10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.rowsm{
    padding: 5%;
    display: flex;
    flex-direction: row;
    height: 10px;
}

.field{
    min-width: 200px;
}

.mat-select-value {
    display: table-cell;
    max-width: 0;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .position{
    right: 10px !important;
    margin-right: 15px !important;
    position: absolute !important;

} */

.mydp .selection {
    width: 100%;
    outline: 0;
    background-color: #FFF;
    display: table-cell;
    position: absolute;
    text-overflow: ellipsis;
    padding-left: 6px;
    border: none;
    color: #555;
}

.contentDate {
    width: 210px;
}

.rowBotton{
    margin: 10px;
    position: sticky; 
    margin-top: 50px;
}
.item1 { grid-area: title; }
.item2 { grid-area: button; }
.item3 { grid-area: date; }
.item3 { grid-area: date; }
.item4 { grid-area: search1; }
.item5 { grid-area: footer; }


.container {
    display: grid;
    /* grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;     */
    grid-template-areas: 'title title button button';

    margin-top: 10px;
    margin-bottom: 10px;
    position: stiky;
}

.container > .title {
    /* grid-column: 1 / 4; */
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

}

.container > .button {
    grid-column-end: 5;
    
}

button{
    display: inline;
    align-items: flex-end;
}