table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.element-row {
    position: relative;
}

.element-row:not(.expanded):hover {
    background: #ece9e9;
}

.example-full-width {
    width: 100%;
}

.filter {
    margin: auto;
}

.both-side {
    margin: 3px;
    padding: 2px;
}

.mat-elevation-z8 {
    box-shadow: 0 0 0 0;
}

.table-header .sort.sort-up:after {
    content: "\25B2";
}

.table-header .sort.sort-down:after {
    content: "\25BC";
}

.headerSearch{
    background-color: #f8f5f5;
    margin: 10px;
    position: sticky; 
    border-radius:  10px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.rowsm{
    padding: 5%;
    display: flex;
    flex-direction: row;
    height: 10px;
}

.field{
    min-width: 200px;
}

.mat-select-value {
    display: table-cell;
    max-width: 0;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.position{
    right: 10px !important;
    margin-right: 15px !important;
    position: absolute !important;

}

.mydp .selection {
    width: 100%;
    outline: 0;
    background-color: #FFF;
    display: table-cell;
    position: absolute;
    text-overflow: ellipsis;
    padding-left: 6px;
    border: none;
    color: #555;
}