.table{
	width: 100%;
}
.table-row-body{
	border-bottom: 1px solid #e0e0e0;
	-webkit-transition: all .2s linear;
			transition: all .2s linear;
}
.table-empty{
	padding: 10px;
	font-size: 14px;
	background-color: #f8f9f9;
	margin: 5px 0;
	text-align: center;
}



.header{
	height: 40px;
	justify-content: space-between;
	align-items: center;
}
	.header .container-data{
		width: 100%;
	}
	.header .data{
		margin-right: 10px;
	}
		.header .data .data-title,
		.header .data .data-content{
			font-size: 12px;
		}
		.header .data .data-title{
			font-weight: 600;
		}
		.header .data .data-content{
			padding: 0 10px;
		}

.body{
	width: 100%;
	margin-top: 5px;
}
	.body .container-data{
		margin-right: 20px;
		width: 100%;
	}
	.body .data{
		margin-bottom: 5px;
		flex: 1;
	}
	.body .data:last-child{
		margin: 0;
	}
		.body .data .data-title,
		.body .data .data-content{
			font-size: 12px;
			line-height: 18px;
		}
			.body .data .data-title{
				font-weight: 600;
				color: #0099cc;
			}
			.body .data .data-content span{
				cursor: pointer;
			}

.footer{
	height: 40px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	-webkit-transition: all .2s linear;
			transition: all .2s linear;
}
	.footer .data{
		margin-right: 10px;
	}
	.footer .data .data-title,
		.footer .data .data-content{
			font-weight: normal;
			font-size: 12px;
			/*color: #a6acaf;*/
		}
		.footer .data .data-content{
			padding: 0 5px;
		}