.answer{
	width: 100%;
}
.fieldset{
	padding: 15px 0;
	border-bottom: 1px solid #e0e0e0;
}
.fieldset:first-child{
	padding-top: 0;
}
.fieldset:last-child{
	border-bottom: none;
}
.wrap-fields{
	margin-bottom: 5px;
}
.wrap-fields:last-child{
	margin-bottom: 0px;
}
.field{
	margin-right: 20px;
}
.field:last-child{
	margin-right: 0px;
}


.legend,
.label,
.output{
	font-size: 14px;
	line-height: 24px;
}
.legend{
	font-weight: 600;
	padding-bottom: 15px;
}
.legend::first-letter{
	text-transform: uppercase;
}
.label{
	font-weight: 600;
	color: #0099cc;
}
.label::first-letter{
	text-transform:uppercase;
}
.output{
	padding: 0 10px;
}



/deep/ .subLevel .label,
/deep/ .subLevel .output.textbox-clicked{
	font-size: 12px;
	line-height: 22px;
}
/deep/ .subLevel .label{
	color: #67bbd7;
}
/deep/ .subLevel .output{
	color: #6d6d6d;
}
