html,
body{
	height: 100%;
}

header{
	height: 64px;
	position: fixed;
	top: 0;
	right: 0;
	left: 250px;
	z-index: 10;
	/*background-color: #003718;*/
	transition: left 0.2s;
	/*box-shadow: 0 2px 5px rgba(0,0,0,.26);*/
}

side-nav{
	width: 250px;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0px;
	overflow: auto;
	z-index: 2;
	transition: transform 0.2s;
}

#breadcrumbs{
	position: fixed;
	top: 64px;
	left: 250px;
	z-index: 2;
	width: 100%;
}

#data{
	min-height: 100%;
	padding: 30px 50px;
	margin-top: 100px;
	margin-left: 250px;
	overflow-x: hidden;
	transition: margin-left 0.2s;
}

footer {
	height: 160px;
	margin-left: 250px;
	transition: margin-left 0.2s;
	background-color: #fff;
}
