<div class="container">
  <img id="logo" src="/assets/images/logo.png" alt="logo"/>
  <form name="form" id="form" (submit)="login($event, email.value, password.value)" role="form">
    <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
      <label for="email">Correo</label>
      <input type="text" name="email" id="email" class="form-control" #email  required />
      <span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">Email is required</span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" #password required />
      <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    </div>
    <div class="form-actions">
      <button class="inner button" type="submit">
        <img class="imagen" src="/assets/images/iniciarsesion.png" >
      </button>
      <button class="inner button">
        <img class="imagen"src="/assets/images/registrarse.png">
      </button>
    </div>
  </form>
</div>
