.breadcrumb{
	display: flex;
	padding: 5px 10px;
}
.breadcrumb-item a {
	color: #333;
	text-decoration: none;
}
.breadcrumb-item span{
	font-size: 8px;
	padding: 0 10px;	
}
.breadcrumb-item:hover a,
.breadcrumb-item:last-child a {
	color: #0099cc;
}