<p class="title">{{title}}</p>
<div *ngIf="pdfs.length > 0" class="table_result">
	<tool-ns [tools]="tools"></tool-ns>	
	<!-- <table-ns-basic
		[title]="''"
		[items]="pdfs"
		[cols]="cols"
		(read)="onItemChange($event)">
	</table-ns-basic> -->
	<table-ns-menu 		
		[title]="'Hey'" 
		[items]="pdfs" 
		[cols]="cols"
		[actions2]="actions2" 
		[actions]="actions"
		(read)="read($event)"
		(list)="list($event)">
	</table-ns-menu>			
</div>
<p *ngIf="pdfs === undefined || pdfs?.length === 0" class="empty">{{notFound}}</p>